*{
    margin: 0;
    padding: 0;
}


/*Layout*/

h1{
    color: #fff;
    font-size: 7.3rem;
}

.image{
    width: 55vw;
    height: 100%;
    padding: 0rem 0.5rem;
}

@media (min-width: 1024px) {
    .image{
        padding: 0rem 0.5rem;
    }
}

#rank-list{
    background-color: black;

}

#customization h1{
    font-size: 5rem;

    display: inherit;
    align-self: center;
}

.unit-rank{
    display: grid;
    grid-template-columns: 0.3fr 1fr auto;
    grid-template-rows: auto auto auto auto auto;

    background-color: #2F2F2F;
    margin: 0rem  0rem 0.15rem 0rem;
}

/*Rank*/

.rank-title{
    display:inherit;
    justify-content: center;
    background-color: #7F012F;
}

.content-title{
    max-width: 100%;
}

.inside{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    max-width: 100vw;
    width: 10rem;
}

.draggable{
    display: inline;
    width: 10rem;
    height: 100%;
}

@media(min-width: 1024px){
    .inside{
        flex-wrap: nowrap;
    }
}

/*Customization*/

#customization{
    display: flex;
    flex-direction: column;
    background-color: #5F5F5F;
    padding: 1rem 0rem;
}

#default-image{
    margin: 1rem 0rem;
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

